 *{
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family:Roboto,sans-serif;
 }

html{
  scroll-behavior:smooth;
}

 body {
   background:#f7fafc;
   color:#1e293b;
   padding-top: 90px; /* adjust to your navbar height */
 }

  @media(max-width:900px){

  .nav-links{
    position:absolute;
    top:100%;
    left:-100%;
    width:100%;
    background:#fff;
    flex-direction:column;
    padding:20px;
    transition:.4s;
  }

  .hero-content{
    top:20%;
    left:5%;
    right:20%;
    max-width:none;
    transform:translateY(-50%);
  }

  }

  .glass{
    padding:24px;
    border-radius:20px;
  }

  .glass h1{
    font-size:1.9rem;
    line-height:1.2;
  }

  .nav-links.active{
    left:0;
  }

  .hamburger{
    display:block;
  }

  .nav-btn{
    display:none;
  }



 